#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator{
  padding: 20px;
  border-radius: 10px;
  background: #525151;
}
form input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background: #726e6e;
  margin: 2px;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
form input[type='button']:hover{
  background: #a39f9f;
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background: #857f7f;
}

form input.equal{
  width: 125px;
}